$hex-crimson: #ee00aa;
$hex-orange: #dd6622;
$hex-yellow: #e0c000;
$tsa-blue: #009dff;
$tsa-cyan: #00abd6;
$tsa-green: #00bb92;
$tsa-crimson: #da15e9;
$tsa-red: #fd3863;
$col-dark: #151515;
$col-light: rgb(240, 250, 250);
$theme-colors: (
  "primary": $tsa-cyan,
  "secondary": #333030,
  "dark": $col-dark,
  "success": $tsa-green,
  "info": $tsa-blue,
  "warning": $tsa-crimson,
  "danger": $tsa-red,
  "light": $col-light,

  "primary-faded":  scale-color($tsa-blue,    $lightness: -50%),
  "secondary-faded":scale-color(#333030,    $lightness: -50%),
  "success-faded":  scale-color($tsa-green,   $lightness: -50%),
  "info-faded":     scale-color($tsa-cyan,    $lightness: -50%),
  "warning-faded":  scale-color($tsa-crimson, $lightness: -50%),
  "danger-faded":   scale-color($tsa-red,     $lightness: -50%),
  "light-faded":    scale-color($col-light,   $lightness: -50%),

  "primary-darkened":  scale-color($tsa-blue,    $lightness: -80%),
  "secondary-darkened":scale-color(#333030,    $lightness: -80%),
  "success-darkened":  scale-color($tsa-green,   $lightness: -80%),
  "info-darkened":     scale-color($tsa-cyan,    $lightness: -80%),
  "warning-darkened":  scale-color($tsa-crimson, $lightness: -80%),
  "danger-darkened":   scale-color($tsa-red,     $lightness: -80%),
  "light-darkened":    scale-color($col-light,   $lightness: -80%),
);
@import '~bootstrap/scss/bootstrap';

// *, 
// *::before, 
// *::after{
//  	outline:1px solid red;
// }

html {
  height  : 100%;
  overflow: hidden;
  position: relative;
}
body {
  background-color: #00040f;
  position: relative;
  overflow-x: hidden;
  overflow-y: scroll;
}

.App {
  max-width: 414px; // 100vmax; 
  max-height: 828px;
  width: 100vw;
  height: 100vh;
  margin: auto;
  color: #fff;
  text-align: center;
  
  &-link {
    color: #61dafb;
  }

  .logo {
    position: relative;
    height: 0;
    padding-bottom: 100%;
    width: 100%;
    max-width: 100vmin;
    margin: auto 0;
    > img {
      position: absolute;
      top: 0;
      right: 0;
      width: 100%;
      height: auto;
      pointer-events: none;
    }
    > img:first-child {
      filter:  opacity(0.2) saturate(0);
    }
    > img:last-child {
      filter:  opacity(0) saturate(1);
    }
  }

  .percent-btns > button { padding: 0.15em 0.6em; margin: 0.1em 0.3em; }

  .blink {visibility: hidden; animation: blinking 1s linear infinite; }
  @keyframes blinking {
     20% { visibility: hidden; }
    100% { visibility: visible;}
  }
}

@media (max-width: 540px) {
  .d-raised { margin-top: -55vh; }
  .percent-btns > button {
    padding: 0.3em 0.7em !important;
    margin: 0.15em 0.6em !important; 
  }
}

@media (max-width: 414px) {
  .d-raised { margin-top: -45vh; }
  .percent-btns > button {
    padding: 0.3em 0.6em !important;
    margin: 0.1em 0.5em !important; 
  }
}


@media (max-width: 375px) {
  .percent-btns > button {
    padding: 0.2em 0.5em !important;
    margin: 0.1em 0.5em !important; 
  }
}

@media (max-width: 320px) {
  .d-raised { margin-top: -57vh; }
  .percent-btns > button {
    padding: 0.1em 0.3em !important;
    margin: 0.1em 0.3em !important; 
  }
}

@media (max-width: 280px) {
  .percent-btns > button {
    padding: 0.05em 0.2em !important;
    margin: 0.1em 0.2em !important; 
  }
}
